body {
    font-family: Arial, sans-serif;
    background-color: black;
    text-align: center;
    margin: 50px;
}

.container {
    background-color: whitesmoke;
    width: 800px;
    padding: 20px;
    margin: 90px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(156, 177, 38);
}

#qrTextInput {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
}

#qrTextInput::placeholder {
    font-weight: bold;
    color: rgb(0, 174, 255);
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s ease;
}

button:hover {
    background-color: #025ec0;
}

#qrCode {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#qrImg {
    max-width: 300px;
    display: none;
}